# -f https://download.pytorch.org/whl/cu113/torch_stable.html

ipykernel
numpy
matplotlib
seaborn
scipy
pyro-ppl
ipywidgets
lmdb
pytorch-lightning
torch-tb-profiler
git-python
numpyro
pydantic
StrEnum
ninja
torch #==1.11.0+cu113
pytest
pyhmc