# -f https://download.pytorch.org/whl/torch_stable.html

ipykernel
numpy
matplotlib
seaborn
scipy
pyro-ppl
ipywidgets
lmdb
pytorch-lightning
torch-tb-profiler
git-python
numpyro
pydantic
StrEnum
ninja
torch==1.12.0+cu116 #A100 support with cu113
pytest
ray[tune]