# -f https://download.pytorch.org/whl/cu113/torch_stable.html

ipykernel
numpy
matplotlib
seaborn
scipy
# pyro-ppl
ipywidgets
lmdb
pytorch-lightning
torch-tb-profile
git-python
numpyro
pydantic
StrEnum
ninja
torch==1.11.0+cu113 #A100 support with cu113
pytest
ray[tune]